
.exercise-time-container{
    background-color: #E5E5E5;
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
    margin-bottom: 10px;
}
.break-time-container{
    background-color: #E5E5E5;
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
}